.main-body {
    height: 100vh;
    width: 100%;
    flex-direction: row;
    padding-top: 0px;
    gap: 20px;
}

.admin.nav {
    height: 100vh;
    width: 140px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: static;
    padding-left: 40px;
}

.admin.nav > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-links {
    width: 100%;
}

.nav-links > a {
    position: relative;
    width: 100%;
}

.nav-links > a.active::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    width: 5px;
    height: 100%;
    background-color: #000;
}

.admin-content {
    width: calc(100vw - 140px);
}

.admin-dashboard {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    padding:20px;
    overflow: auto;
}

.admin-dashboard.column {
    flex-direction: column;
}

.card-1 {
    width: fit-content;
    min-width: 100px;
    height: 80px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-1 p {
    text-align: left;
}

.no-margin *, .card *{
    margin: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr {
    border-bottom: 1px solid #000;
}

table tr:last-child {
    border-bottom: none;
}

table tr td {
    padding: 10px;
}

table tr td:first-child {
    font-weight: bold;
}

table th {
    padding: 10px;
    font-weight: bold;
    text-align: left;
}

table td a {
    color: #000;
    padding: 20px; 
}

.btn-primary {
    background-color: #A8D26D;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    border: 0px;
    outline: none;
    cursor: pointer;
}

h1 {
    margin: 0px 0px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

form > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

form > div > label {
    width: 100px;
}

form > div > input {
    width: 400px;
    padding: 10px;
    border: 1px solid #000;
    outline: none;
}

.logo {
    width: calc(100% - 40px);
}