:root {
    --pri-color: #498F7A;
}

* {
    /*font-family: 'Anek Telugu', sans-serif;*/
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

img {
    max-width: calc(100vw - 60px);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    height: 60px;
    width: calc(100% - 40px);
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid grey;
    position: fixed;
    z-index: 2;
}

.nav > div {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
}


.nav-links > a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.nav-links > a > img, .resnav-links > a > img {
    vertical-align: middle;
}

.cart img {
    width: 25px;
    height: 25px;
    margin-top: -4px;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 150px;
    height: calc(100% - 150px);
    background-color: #fff;
    gap: 80px;
}

.main-body.center {
    align-items: center;
    justify-content: center;
    padding-top: 0px;
}

.flex-column.short {
    gap: 40px;
}

.nav-logo, .nav-logo > a {
    height: calc(100% - 22px);
    position: relative;
    margin-right: 15px;
    margin-top: 15px;
}

.nav-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 120px;
    background-color: var(--pri-color);
    color: white !important;
}

.logo {
    height: 100px;
    max-height: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between !important;
    gap: 70px;
}

.flex-row.slim {
    justify-content: flex-start !important;
}

.row.fill {
    height: calc(100% - 322.44px);
}

.flex-row > div {
    width: fit-content;
    /*min-width: 300px;*/
}

.standard-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

input {
    width: 100%;
    height: 50px;
    border: none;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    border-bottom: 1px solid grey;
    background-color: rgba(0,0,0,0);
    max-width: calc(100vw - 60px);
}


.flex-row .logo {
    height: 60px;
    margin: 20px 0px;
}

.flex-row h1{
    margin: 0px;
    font-size: 40px;
}

.form-submit, .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px !important;
    cursor: pointer;
    color:white;
    background-color: var(--pri-color);
    font-weight: normal !important;
    border-radius: 5px;
    outline: none;
    border: none;
    text-decoration: none;
}

.btn-primary {
    padding: 12px 50px;
    font-size: 14px !important;
    width: fit-content;
}

p a {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.carousel-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f3f3f3;
    border-radius: 50px;
    width: 450px;
    height: 600px;
}

.carousel-display-item img {
    height: 70%;
    width: 100%;
    object-fit: cover;
}

.carousel-display-item > .text {
    padding: 20px;
    text-align: center;
}

.object-row.mini img {
    height: 20px;
    vertical-align: middle;
    margin: 3px;
    margin-top: -2px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 1100px;
    height: fit-content;
    max-width: calc(100vw - 40px);
}

.row.center {
    align-items: center;
    justify-content: center;
}

.row h1, .row h2, .row h3, .row h4, .row h5, .row h6 {
    margin: 0px;
}

.highlight {
    color: #586233;
}

.highlight-2 {
    color: var(--pri-color);
}

.semi-img {
    width: 400px;
    height: 350px;
    object-fit: cover;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.compound-img {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.compound-img.focus > img:first-child {
    filter: blur(1px) grayscale(0.1);
}

.compound-img > .bottom-left {
    position: absolute;
    bottom: -30%;
    left: 0px;
    transform: translate(-50%, -50%);
    height: 30%;
}

.compound-img > .center { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: calc(100vw - 40px);
}

.object-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.object-row > img {
    height: 60px;
    object-fit: cover;
}

.object-row.slim {
    gap: 10px;
}

.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;;
    gap: 30px;
    max-width: calc(100vw - 40px);
    margin-top: 20px;
    overflow: auto;
}

.carousel.wide {
    gap: 80px;
}

.carousel-item { 
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.carousel-item .compound-img > img:nth-child(1) {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.carousel-item > h3 {
    margin-top: 10px;
}

.carousel-item > h4 {
    text-align: center;
}

.flex-row > div > img {
    height: 300px;
    object-fit: cover;
}

.icon-header {
    position: relative;
}

.icon-header > img.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(100%, -50%);
    height: 80%;
}

form.horizontal {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

form.horizontal > .form-submit {
    width: fit-content;
    padding: 0px 20px;
}

.footer {
    justify-content: flex-start;
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    padding-top: 40px;
}

.footer > .row {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
}

.footer > .row > div {
    width: fit-content !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 0px !important;
    gap: 20px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li > a {
    color: grey;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

fieldset {
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    display: flex;
    max-width: calc(100vw - 60px);
}

fieldset > input {
    border: none;
    width: 300px;
    max-width: calc(100vw - 100px);
}

fieldset > .submit {
    width: fit-content;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    padding: 0px 20px;
    font-size: 20px;
    cursor:pointer;
}

.resnav {
    display: none;
}

.tag {
    display: inline-block;
    background-color: #f3f3f3;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.tag:first-child {
    background-color: #B4C2D7;
}

#rating > img {
    height: 20px;
    margin: 0px;
}

.mid-column-gap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    height: 450px;
    width: 230px;
    border-radius: 30px;
    background-color: #E3E3B9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 60px 100px var(--pri-color);
    margin-bottom: 100px;
    margin-right: 60px;
}

.card p {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.flex-row p {
    max-width: 80%;
}

.quick-mail {
    text-decoration: none;
    color: grey;
}

.profile-img {
    width: 248px;
    height: 248px;
    object-fit: cover;
}

.profile-img > img {
    object-fit: cover;
    padding: 20px;
    height: 200px;
    width: 200px;
    background: linear-gradient(#f3f3f3,#f3f3f3) padding-box, linear-gradient(45deg, var(--pri-color), #CEE26B) border-box;
    border-radius: 50em;
    background-size: 300% 300%;
    border: 4px solid transparent;
    animation: border 3s infinite;
    
}

#receipt-scan {
    display: none;
}

#receipt-scan > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

canvas {
    margin-top: 10px;
}

h1 > img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.scroller {
    position: relative;
}

.scroller > span {
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.scroller > img {
    animation: rotate 5s linear infinite;
}

.steps > span {
    font-size: 30px;
    font-weight: bold;
}

.steps > span:nth-child(1) {
    color: #E3E3B9;
}

.steps > span:nth-child(2) {
    color: #5D9194;
}

.steps > span:nth-child(3) {
    color: #F06E42;
}


@media screen and (max-width: 700px) {
    .icon-header > img.top-right {
        position: static;
        transform: translate(0%, 0%);
        height: 30px;
        margin-left: 10px;
    }

    .form-submit {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 900px) {
    .nav {
        display: none;
    }

    .resnav-logo {
        height: 30px;
        margin-left: 20px;
    }

    .resnav {
        display: block;
        width: 100%;
        padding: 0px;
        height: 60px;
        background-color: #F5F5F5;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 100;
    }

    .resnav-bar {
        height: 60px;
        width: calc(100% - 20px);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .resnav-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 5px;
        width: 100%;
        padding: 0px;
        margin: 0px;
        height: 0px;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
        background-color: #F5F5F5;
        padding-left: 20px;
    }

    .resnav-links > a {
        color: grey;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        padding: 10px 0px;
    }

    .resnav-menu {
        height: 30px;
    }

    .resnav.active > .resnav-links {
        height: auto;
    }
}

@media screen and (max-width: 1100px) {
    .flex-row {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

@keyframes border {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}