<html>
<head>
    <title>Ecoplace</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Telugu&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
    <div class="main-body">
        {% include "admin_nav.html" %}
        <div class="admin-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
<footer>
    <script type="text/javascript" src="/static/main.js"></script>
</footer>
</html>