
{% extends "admin.html" %}
{% set title = "Dashboard" %}
{% block content %}
<div class="admin-dashboard">
    <div class="card card-1">
        <div class="card-header">
            <h2>Businesses</h2>
        </div>
        <div class="card-body">
            <div class="card-body-content">
                <h3>{{ businesses['c'] }}</h3>
                <p>Businesses</p>
            </div>
        </div>
    </div>
    <div class="card card-1">
        <div class="card-header">
            <h2>Products</h2>
        </div>
        <div class="card-body">
            <div class="card-body-content">
                <h3>20</h3>
                <p>Products</p>
            </div>
        </div>
    </div>
    <div class="card card-1">
        <div class="card-header">
            <h2>Users</h2>
            <div class="card-body-content">
                <h3>20</h3>
                <p>Users</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}