{% extends "main.html" %}

{% block content %}
<div class="row flex-row">
    <div>
        <h1>Technology-led innovation to <span class="highlight">evolve & impact the eco-friendly marketplace</span></h1>
        <p>
            An all-in-one platform connecting eco-sustainable businesses with consumers while allowing them to make a sustainable positive impact to climate change
        </p>
        <button class="btn btn-primary">Shop now ></button>
    </div>
    <div>
        <div class="compound-img">
            <img src="/static/img/illust-2.png" alt="" class="semi-img">
            <img src="/static/img/eco-friendly.png" alt="" class="bottom-left">
        </div>

    </div>
</div>
<div class="row flex-column">
    <h3>Certified & in Partnership with</h3>
    <div class="object-row">
        <img src="/static/img/CBI_Icon.png" alt="">
        <img src="/static/img/FSC_Icon.png" alt="">
        <img src="/static/img/PPC_Icon.png" alt="">
        <img src="/static/img/SEC_Icon.png" alt="">
    </div>
</div>
<div class="row flex-column">
    <h5>Featured</h5>
    <h1>Product Catalogue</h1>
    <div class="carousel">
        <div class="carousel-item">
            <div class="compound-img">
                <img src="/static/img/business/superbee-product.png" alt="">
                <img src="/static/img/business/superbee-logo.png" alt="" class="center">
            </div>
            <h3>SUPERBEE</h3>
        </div>
        <div class="carousel-item">
            <div class="compound-img">
                <img src="/static/img/business/superbee-product.png" alt="">
                <img src="/static/img/business/superbee-logo.png" alt="" class="center">
            </div>
            <h3>SUPERBEE</h3>
        </div>
        <div class="carousel-item">
            <div class="compound-img">
                <img src="/static/img/business/superbee-product.png" alt="">
                <img src="/static/img/business/superbee-logo.png" alt="" class="center">
            </div>
            <h3>SUPERBEE</h3>
        </div>
    </div>
</div>
<div class="row flex-row">
    <div>
        <h5>Our Mission</h5>
        <h1>Making a collective impact while you shop more sustainably</h1>
        <p>Get rewarded with our new points system you make a purchase of a product and know how you make an impact with their purchase</p>
        <button class="btn btn-primary">Learn more ></button>
    </div>
    <div>
        <img src="/static/img/illust-3.png" alt="">
    </div>
</div>
<div class="row flex-column center">
    <h5>Our Vision</h5>
    <h1 class="icon-header">Impact we have made Globally<img src="/static/img/earth-icon.png" class="top-right"></h1>
    <div class="carousel wide">
        <div class="carousel-item">
            <img src="/static/img/Treeplanted_Sticker.png" alt="">
            <h3>100,299</h3>
            <h4>Trees planted</h4>
        </div>
        <div class="carousel-item">
            <img src="/static/img/100% Organic_Sticker.png" alt="">
            <h3>520,000</h3>
            <h4>Reused Packaging</h4>
        </div>
        <div class="carousel-item">
            <img src="/static/img/BringownBag_Sticker.png" alt="">
            <h3>100,299</h3>
            <h4>kg of Plastic saved</h4>
        </div>
    </div>
</div>
<div class="row flex-row">
    <div>
        <h1>A business that wants to promote and make a positive environmental impact?</h1>
        <p>Partner and scale the impact with us, just drop us a note today. </p>
        <form class="horizontal">
            <input type="email" placeholder="Email">
            <input type="submit" value="Get in Touch" class="form-submit">
        </form>
    </div>
    <div>
        <img src="/static/img/business-interaction.png" class="semi-img" alt="">
    </div>
</div>
{% endblock %}
