{% set center = true %}
{% extends "main.html" %}

{% block content %}
<div class="flex-row">
    <div>
        <img src="/static/img/Logo.svg" alt="Ecoplace" class="logo">
        <h1>Welcome Back!</h1>
        <p>Not registered? <a href="/register">Sign up here!</a></p>
        <form action="/login" method="POST" class="standard-form">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login" class="form-submit">
        </form>
        <p>Forgotten your password? <a href="/reset-password">Reset it here!</a></p>
    </div>
    <div>
        <div class="carousel-display">
            <div class="carousel-display-item">
                <div class="img">
                    <img src="/static/img/illust-1.png" alt="">
                </div>
                <div class="text">
                    <h2>Learn how your usage of Eco-sustainable products can make an impact with us</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}