<div class="nav">
    <div>
        <div class="nav-logo">
            <a href="/">
                <img src="/static/img/Logo.svg" alt="logo" class="logo">
            </a>
        </div>
        <div class="nav-links">
            <a href="/about">About Us</a>
            <a href="/shop">Shop With Us</a>
            <a href="/work">Work With Us</a>
            <a href="/help">Help</a>
        </div>
    </div>
    <div>
        <div class="nav-links">
            <a href="/cart" class="cart"><img src="/static/img/cart.png">Cart (0)</a>
            <a href="/profile" class="nav-profile">Profile</a>
        </div>
    </div>
</div>
<div class="resnav">
    <div class="resnav-bar">
        <div class="resnav-logo">
            <a href="/">
                <img src="/static/img/Logo.svg" alt="logo" class="logo">
            </a>
        </div>
        <img src="/static/img/menu.png" alt="menu" class="resnav-menu">
    </div>
    <div class="resnav-links">
        <a href="/about">About Us</a>
        <a href="/shop">Shop With Us</a>
        <a href="/work">Work With Us</a>
        <a href="/help">Help</a>
        <a href="/cart"><img src="/static/img/cart.png">Cart (0)</a>
        <a href="/profile" class="nav-profile">Profile</a>
    </div>
</div>