{% extends "main.html" %}

{% block content %}
<div class="row flex-row">
    <div>
        <h5>Rewards & Incentives</h5>
        <h1><span class="highlight">Rewards</span> coming your way while you purchase your<span class="highlight"> Esssentials and do good</span><img src="/static/img/eco-friendly.png"></h1>
        <p>Learn how our points system works and how to exchange your points with rewards.</p>
    </div>
    <div>
        <img src="/static/img/business-interaction.png" alt="" class="semi-img">
    </div>
</div>
<div class="row flex-column center">
    <div class="scroller">
        <img src="/static/img/Circular_Text.png" alt="" class="scroll">
        <span>></span>
    </div>
</div>
<div class="row flex-column">
    <h1>Earn your <span class="highlight">rewards</span> on the go</h1>
    <div class="object-row" class="steps">
        <span>01</span>
        <hr>
        <span>02</span>
        <hr>
        <span>03</span>
    </div>
</div>
{% endblock %}