{% set center = true %}
{% extends "main.html" %}

{% block content %}
<div class="flex-row">
    <div>
        <div class="carousel-display">
            <div class="carousel-display-item">
                <div class="img">
                    <img src="/static/img/illust-1.png" alt="">
                </div>
                <div class="text">
                    <h2>Learn how your usage of Eco-sustainable products can make an impact with us</h2>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img src="/static/img/Logo.svg" alt="Ecoplace" class="logo">
        <h1>Get Started</h1>
        <p>Already registered? <a href="/login">Log in here!</a></p>
        <form action="/register" method="POST" class="standard-form">
            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirm-password" placeholder="Confirm Password">
            <input type="submit" value="Sign Up" class="form-submit">
        </form>
        <p>Forgotten your password? <a href="/reset-password">Reset it here!</a></p>
    </div>
</div>
{% endblock %}